nav {
    border: 1px solid rgb(204, 203, 203);
    border-radius: 10px;
    padding: 7px;
}
nav a {
    color: black;
    text-decoration: none;
    padding-left: 20px;
}
nav button {
    font-size: 16px;
}
.navbtn {
    margin-left:620px;
    background-color: rgb(172, 90, 255);
    border-radius: 10px;
    color:aliceblue;
}
.UntiteledUI {
    font-weight: bolder;
    font-family: "Verdana", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
}
section h1 {
    text-align: center;
    font-style: italic;
    font-family: cursive;
    font-weight:900;
    font-size: 50px;
}
.fst p {
    text-align: center;
    font-size: 20px;
    color: grey;
    margin-top: -20px;
}
.contactinfo {
    background-color: rgb(235, 234, 234);
    margin-right: 50%;
    margin-left: 12%;
    border-radius: 30px;
}
.contactinfo p {
    padding-left: 8%;
}
.contactinfo h2 {
    text-align: center;
    padding-top: 10px;
    font-style: italic;
}
.contactinfo button {
    text-align: center;
    background-color: rgb(172, 90, 255);
    border-radius: 90px;
    color:aliceblue;
    margin-left:180px;
    font-size: 28px;
    margin-bottom: 10px;
}
.sec {
    font-size: 300%;
    margin-left: 12%;
    background-color: blueviolet;
    padding-left: 3%;
    padding-top: 0.1%;
    padding-bottom: 3%;
    margin-top: 3%;
    margin-right: 3%;
    color: aliceblue;
    font-family: cursive;
    border-radius: 100px;
}
footer {
    border: 1px solid black;
    border-radius: 10px;
    padding: 7px;
}
/* footer h5 {
    font-weight: bolder;
    font-family: "Verdana", "Helvetica", "Arial", sans-serif;
    font-size: 28px;
    text-align: center;
} */
footer a {
    color: black;
    text-decoration: none;
    padding-left: 10%;
    font-size: 20px;
}
