/* Reset small inconsistencies */
* {
  box-sizing: border-box;
  font-family:sans-serif
}

body {
  background-color: #393E46;
}
/* Card container */
.outer {
  margin: 40px auto;
  width: 320px !important;
  border-radius: 22px;
  padding: 12px;
  text-align: center;
  background-color: #EEEEEE;
  border: 1px solid #ffffff;
  box-shadow: 0 0px 100px #00ADB5;
}

/* Profile Image */
img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: 20px;
  background-color: #00ADB5;
  border: 4px solid #EEEEEE;
  box-shadow: 0 -1px 20px #393E46;
}

/* Header section */
.header h4 {
  color: #222831;
  font-weight: 700;
  margin-bottom: 6px;
}

.header p {
  color: #393E46;
  font-size: 14px;
  margin: 4px 0;
}

/* Buttons */
.header button {
  border-radius: 20px !important;
  border: 2px solid #00ADB5 !important;
  color: #00ADB5 !important;
  font-weight: 500;
  margin-right: 20px;
}

.header button:hover {
  background-color: #00ADB5 !important;
  color: #EEEEEE !important;
  box-shadow: 0 -1px 5px #5f8cd6;
}

/* Divider */
hr {
  border: none;
  height: 1px;
  background-color: #393E46;
  margin: 18px 0;
}


/* Skills heading */
.skill {
  font-size: 18px;
  text-align: left;
  color: #00ADB5;
  margin-bottom: 10px;
  font-weight: 600;
}

/* Skills table */
.skills-section {
  background-color: #393E46;
  border-radius: 16px;
  padding: 14px;
}


td {
  font-size: 13px;
  color: #EEEEEE;
  padding: 6px 4px;
  text-align: center;
}
